
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    text-align: center;
}

h2, p {
    color: wheat;
}

.section {
    padding: 4rem 4rem;
    max-width: 100%;
}

.btn {
    display: block;
    cursor: pointer;
    outline: none;

    transition: all .5s;
}

.btn-calculate {
    width: 5rem;
    height: 2rem;
    border-radius: 1.4rem;
    background-color: #E2B694;
    color: black;
}

.calculate-form-block {
    margin: 0 auto;
    padding-top: 10rem;
    width: 50rem;
    max-width: 100%;

  
}

.wrapper {
    width: 100%;
    height: 100%;

    padding: 2rem 2rem;
    margin: 0 auto;
}

form.form {
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    justify-items: center;

    gap: 1.5rem;
}

div.form-block > input {
    margin-left: 1.5rem;
    display: inline-block;
    border: none;

    width: 8rem;
    height: 2rem;
    background-color: #F5F1F3;
    max-width: 100%;
    padding-left: 1rem;
    font-size: 1.6rem;
}

div.form-block > input:focus,
div.form-block > input:hover  {
    outline: none;
    border: 2px solid #105D40;
}

div.form-block > label {
    display: inline-block;
    width: 15rem;
    max-width: 100%;
}

.form-block {
    max-height: fit-content;
    padding: 1rem;
}

.button-block {
    width: 5rem;
    height: 2rem;

    margin: 0 auto;
}

 label {
   color: wheat;
}


.moneyholder {
    height: 7rem;
    padding: 3rem 3rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
